.fondo-Home {
  position: absolute;
  top: 12;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./fondo/fondo.jfif);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}