nav {
  background-color: #333;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  width: 2rem;
  border-radius: 1rem;
  border: transparent;
  list-style: none;
  float: left;
}

.nav-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-items li {
  margin: 0 10px;
}

.nav-items li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-items li a:hover {
  color: #ccc;
}